body{
    font-family: 'Open Sans', sans-serif;
}
.banner-container{
    background-color: beige;
}
.banner-column{
    background-color: darkgrey;
}
.navbar-container{
    background-color: #05102c;
}
.about-container{
    background-color: aqua;
}
.education-container{
    background-color: #EEEEEE;
}
.redtype{
    color: #FB857F;
}
.redtype:hover{
    color: black!important;
}
.circle{
    background-color:#FB857F;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}