body{
    font-family: 'Open Sans', sans-serif;
}
.banner-container{
    background-color: beige;
}
.banner-column{
    background-color: darkgrey;
}
.navbar-container{
    background-color: #05102c;
    top: 0;
    position: sticky;
    z-index: 1;
}
.about-container{
    background-color: aqua;
}
.education-container{
    background-color: #EEEEEE;
}
.redtype{
    color: #92130C;
}
.redtype:hover{
    color: black!important;
}
.circle{
    background-color:#92130C;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.project-container{
    background-color:rgb(61, 120, 139);
}
.contact-container{
    background-color:darkgray;
}
.bumpy-box{
    font-size: 72px;
}
.inner-form{
    background-color: #585F73;
}
.footer-container{
    background-color: #2BB3DD;
}
.circle-footer{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color:white;
    display: inline-block;
    font-size: 40px;
    text-align: center;
    color: #2BB3DD;
}
.circle-footer:hover{
    background-color: #474D5D;
}