body{
    font-family: 'Open Sans', sans-serif;
}
.banner-container{
    background-color: beige;
}
.banner-column{
    background-color: darkgrey;
}
.navbar-container{
    background-color: #262B37;
}